* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  list-style: none;
}

::selection {
  background-color: black;
  color: yellow;
}

body {
  display: flex;
  min-height: 100vh;
}

.nav {
  width: 100px;
  flex-shrink: 0;
  height: 100vh;
  position: sticky;
  top: 0;
}

.site-bar-looks {
  width: 100px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  position: relative;
  z-index: 9999;
}

.logo {
  width: 37px;
  height: 36px;
  margin-bottom: 67px;
  margin-top: 37px;
}

.site-bar-looks ul {
  margin-bottom: auto;
}

.site-bar-looks li {
  margin-bottom: 40px;
}

.toggle {
  position: absolute;
  left: 300px;
  top: 40px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background: transparent;
  z-index: 999;
  transition: 0.5s ease;
  transform: rotate(90deg);
}

.side {
  position: fixed;
  left: 0;
  top: 0;
  width: 276px;
  height: 100vh;
  background-color: white;
  transform: translateX(-276px);
  transition: transform 0.8s ease;
  box-shadow:
    5px 5px 15px #bebebe,
    -5px -5px 15px #ffffff;
  z-index: 9998;
  overflow-y: auto;
}

.side h2 {
  margin-top: 42px;
  margin-left: 10px;
  margin-bottom: 56px;
}

.side ul {
  margin-bottom: auto;
}

.side li {
  width: 250px;
  height: 46px;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
}

.site-bar-info {
  width: 250px;
  height: 150px;
  border-radius: 20px;
  background: linear-gradient(90deg, #eaabf0, #4623e9);
  margin-left: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.site-bar-info h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1%;
  text-align: center;
  color: white;
}

.site-bar-info button {
  width: 203px;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin-top: auto;
  color: #4925e9;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.bar-profile {
  width: 151px;
  height: 38px;
  margin-top: 48px;
  margin-left: 10px;
}
.bar-profile p {
  font-weight: 400;
  color: #757575;
  line-height: 100%;
  letter-spacing: 1%;
}

.main {
  flex: 1;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
  padding: 41px 70px;
}

.main header {
  width: 100%;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main header h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}

.search input {
  background-color: #f9fbff;
}

.fa-solid {
  position: absolute;
  left: 5px;
  cursor: pointer;
}

.inactive {
  width: 80px;
  height: 29px;
  font-size: 14px;
  font-weight: 500;
  color: #df0404;
  background-color: #ffc5c5;
  border: 1px solid #df0404;
  border-radius: 4px;
}

.box-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 4px;
}

.sort-label {
  padding: 10px 35px 10px 15px;
  color: #7e7e7e;
  background-color: #f9fbff;
  border-radius: 10px;
}

.sort-select {
  padding: 10px 35px 10px 15px;
  color: #7e7e7e;
  background-color: #f9fbff;
  border-radius: 10px;
}

#Table th {
  padding: 0 20px;
  color: #b5b7c0;
}

tr {
  border-bottom: 1px solid rgba(128, 128, 128, 0.426);
}

.main input {
  width: 216px;
  height: 38px;
  border: none;
  border-radius: 12px;
  color: black;
  padding: 0px 10px 0px 30px;
  outline: black;
}

.main-persentage {
  width: 100%;
  height: 151px;
  background-color: white;
  margin-top: 39px;
  margin-bottom: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.persentage-box {
  display: flex;
  align-items: center;
}

.persentage-box h4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1%;
  margin-bottom: 6px;
  color: #333333;
}

.persentage-box p {
  font-size: 12px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1%;
}

.custom-table {
  width: 100%;
  min-height: 812px;
  height: auto;
  background-color: white;
  border-radius: 30px;
  padding: 30px 44px 40px 38px;
}

.custom-table-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 39px;
  margin-bottom: 49px;
}

.head-search select {
  border: none;
  outline: none;
  background: transparent;
}

#Table {
  margin-bottom: 32px;
  border-collapse: collapse;
}

#Table tr {
  height: 69px;
  padding: 0 20px;
}

#Table tr td button {
  font-size: 14px;
  font-weight: 500;
  color: #008767;
  width: 80px;
  height: 29px;
  background-color: #16c09861;
  border: 1px solid #00b087;
  border-radius: 4px;
}

.other-table {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.other-table p {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1%;
  color: #b5b7c0;
}

.btns button {
  width: 26px;
  height: 24px;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  cursor: pointer;
}

.side-visible {
  transform: translateX(100px);
}

@media (max-width: 1024px) {
  body {
    flex-direction: column;
  }

  header {
    margin-top: 80px;
  }

  .nav {
    width: 100%;
    height: auto;
    position: relative;
  }

  .site-bar-looks {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 28px;
  }

  .logo {
    margin: 0;
  }

  .site-bar-looks ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 16px;
  }

  .site-bar-looks li {
    margin: 0;
  }

  .side {
    transform: translateX(-276px);
  }

  .side h2 {
    margin-top: 80px;
  }

  .side ul {
    margin-left: 10px;
  }

  .side-visible {
    transform: translateX(0);
  }

  .main {
    width: 100%;
    padding: 20px;
  }

  .custom-table {
    overflow-x: auto;
  }

  #Table {
    min-width: 1000px;
  }

  .main-persentage {
    /* flex-direction: column; */
    height: auto;
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .main {
    padding: 15px;
  }

  .main header {
    flex-direction: column;
    height: auto;
    gap: 12px;
    margin-bottom: 20px;
    align-items: flex-start;
  }

  .custom-table-head {
    flex-direction: column;
    height: auto;
    gap: 12px;
    margin-bottom: 20px;
  }

  .head-search {
    width: 100%;
  }

  .search input {
    width: 100%;
  }

  .other-table {
    flex-direction: column;
    height: auto;
    gap: 12px;
    align-items: center;
  }

  .persentage-box {
    width: 100%;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 12px;
  }

  .site-bar-looks ul {
    display: none;
  }
}

@media (max-width: 480px) {
  header {
    margin-top: 80px;
  }
  .main header h2 {
    font-size: 18px;
  }

  .persentage-box h4 {
    font-size: 24px;
  }

  .btns {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
  }

  .main-persentage {
    flex-direction: column;
  }
}
